﻿

<style type="text/css">
.text-center .img-responsive {
    margin: 0 auto;
}
</style>

<div class="row">
    <div class="col-md-12 text-center">
        <img class="img-responsive" src="img/pentecostes.jpg" style="max-height: 550px;" />
    </div>
</div>
